/* Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

/*restetting all spacing*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

h1,
h2,
h3 {
    color: #fff;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    line-height: 1.313;
    margin-bottom: 3rem;

}

h2 {
    font-size: 1.5rem;
    line-height: 1.313;
    margin-bottom: 1rem;
}

/* styling instapro logo*/

.svgclass {
    display: block;
    height: 2rem;
}

/* styling header and navbar  */

.header {
    padding: 0.75rem 1.5rem;
    width: min(100%, calc(60rem + (2 * 1.5rem)));
    margin-inline: auto;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 900;
}

.nav-links li a:hover {
    color: #f0f5fe;
}

/*styling toggle bar for smaller devices*/

.toggle-menu {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    color: #fff;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

/*syling logo on toggle */
.newLogo{
    width:7rem;
}
.main-article::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
    background: rgba(0, 0, 0, 0.25) linear-gradient(180deg, rgba(0, 0, 0, 0.7) 3.62%, rgba(0, 0, 0, 0) 17.92%);
    mix-blend-mode: multiply;
}

.main-article picture {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    overflow: hidden;
}

.main-article picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.input-container {
    position: relative;
    border-radius: 3.5rem;
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.15);

    display: flex;
}

.input-field {
    position: relative;
    flex-grow: 1;
    border-radius: inherit;
    border: 0;
    padding: 1rem 0.5rem 1rem 1.5rem;
    margin: 0;
    max-width: none;
    background: transparent;
    width: auto;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

i fa-arrow-right {
    position: absolute;
    margin: 0.25rem 0.25rem 0.25rem 0;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
}




ol li {
    list-style: none;
}

.number-icon {
    color: #e5cb4e;
    font-size: 1.5rem;
}

.section-title {
    color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.summer-title {
    margin-bottom: 2rem;
    color: black;
    font-size: 2rem;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-left: 1rem;
}

.li-item p {
    margin-left: 2rem;
}

h3 {
    color: black;
    margin-bottom: 0.25rem;
}

.section-title,
h3 {
    font-weight: 800;
}


p {
    font-size: 1rem;
}





@media(max-width: 780px){
    .input-container{
        margin-top:3rem;
    }
}
@media (max-width: 960px) {

    .header{
        width: 100%;
        padding: .75rem 0;

        margin: 0;
    }
    .toggle-menu {
        display: flex;
    }
    .toggle-menu {
        text-decoration: none;
    }
    .span-toggle{
        margin-right: .3rem;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;

       
    }

    .nav-links ul li{
        border-bottom: 1px solid rgb(217, 215, 213);

    }
  

    .nav-links ul li:hover {
        background-color: #cfd8e8;

    }

    .nav-links li a:hover {
        color: black;
    }
    .nav-links ul li a{
        margin: 0;
        padding: .75rem;
        font-size: 1rem;

    }

    .nav-links.active {
        display: flex;
        background-color: #fff;
        position: absolute;
        margin-top: 2rem;
    }

    .link-list.active{
        background-color:red;
    }

    .togglestyle li a {
        color: black;
    }

    .togglestyle ul li {
        margin-top: 1rem;
    }

}

/*styling main*/

.main-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 1rem;
    width: 100%;
    margin: 0 auto;
}

.h1-container {
    margin-top: 2rem;
}

.search-main-div {
    margin: 0 0 6rem;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
}

.input-container:hover {
    border: 2px solid #3f27ba;
}

.input-button {
    position: relative;
    margin: 0.25rem 0.25rem 0.25rem 0;
    z-index: 2;
    /*now removed width 3 rem for smaller screen*/
    width: auto;
    height: 3rem;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #3f27ba;
    color: #fff;
    border-radius: 1.5rem;

    /*added now*/
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

/*Signup container*/

.signup-container i {
    color: #3f27ba;
    padding-top: 3px;
}

.signup-container a {
    text-decoration-color: #fff;
}

.signup-container span {
    color: #fff;
    font-weight: bold;
}

.yellow-arrow {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #e5cb4e;
    border-radius: 50%;
    display: inline-flex;
}


.card-wrapper {
    display: flex;
    gap: 1rem;
    padding: 0 3rem 3rem;
    justify-content: space-around;
    margin-left: 3rem;
}

.card {
    width: 33.33%;
}

/*added now*/

.info-section {
    background-color: #F9F8F6;
    box-sizing: border-box;
    padding: 6rem 0;


}


/*added now*/



.ol-container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    padding-left: 3rem;
    margin-top: 3rem;
}

li.li-item {
    width: 33.33%
}


.review-ol-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card-wrapper {
    display: flex;
}

.card img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
}


.card-icon {
    font-size: 1rem;
    color: #3f27ba;
}

.card-text img {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 0.75rem;
}

.card-text p {

    margin: 0.5rem 0;
    font-size: 1rem;
    color: #5e636e;
}

.card-text a {
    color: #3f27ba;
}

.card-arrow {
    color: #3f27ba;
}

/* section with links for jobs*/
.jobs-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;

}

.jobs-link-ul {
    list-style: none;
    margin: 2rem 0;
    font-size: 1rem;
}

.joblist {
    flex: 0 0 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.more-btn,
.send-request-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#expandButton {
    border: 1px solid #3f27ba;
    padding: calc(0.5rem - 1px) 2rem;
    background-color: #fff;
    color: #3f27ba;
    border-radius: 9999px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.request-btn {
    padding: calc(1rem - 1px) 2rem;
    background-color: #3f27ba;
    color: #fff;
    border-radius: 3rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 3rem;
}

.expand-hide {
    display: none;
}

.show {
    display: flex;
    flex-wrap: wrap;
}

.review-title {
    color: #3f27ba;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: center;
    font-weight: bolder;
}

.review-list-item p {
    color: #0171cd;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bolder;
}

li.rating-description {
    font-size: 18px;
}

/* footer*/
hr {
    height: 0.5rem;
    background-color: #dfddeb;
}

.footer-wrapper,
.socialmedia-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-ul li {
    margin-bottom: 0.75rem;
    flex: 0 0 33.33%;
    /* padding: 10px; */
    box-sizing: border-box;
    flex-wrap: wrap;
}



.singup-link {
    background-color: #f9f8f6;
    padding: 0 1rem;
}

.singup-link a {
    text-decoration: underline;
}

.socialmedia-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-socialmedia,
.ul-rating-desciption {
    display: flex;
}

.socialmedia-wrapper li {

    align-items: center;
    color: #3f27ba;
}

.socialmedia-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul-socialmedia i {
    margin-right: 1rem;
}

.ul-socialmedia li {
    font-size: 1.5rem;
}

.ul-rating-desciption li {
    color: black;
    text-decoration: none;
}

.rating-description p {
    text-decoration: none;
    margin-left: 0.5rem;
    color: black;
}

.fa-star {
    color: #73cf11;
}

.trustpilot-logo {
    width: 5em;
    height: auto;
}

/*parnter list*/
.partner-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}



.country-link .service-link {
    display: block;
    margin-bottom: 0.5rem;
}

.country-link a,
.service-link a {
    color: #3f27ba;
}

.service-link a {
    text-decoration: none;
}

.service-link a:hover {
    text-decoration: underline;
}

span.copyright {
    color: #5e636e;
}

.lastdiv-container {
    margin-top: 3rem;
}

.lastdiv-container li {
    margin-right: 1.5rem;
}

@media (min-width: 60rem) {
    .header {
        padding: 1.5rem;
        height: 5rem;
    }

    .h1-container h1 {
        font-size: 3rem;
        line-height: 1.208;
    }

    .main-container {
        /*   max-width: 80%;

        added now*/
        max-width: calc(60rem + 2 * 3rem);
        padding-left: 3rem;
        padding-right: 3rem;

    }

    /* added now*/
    .search-main-div {
        width: 55%;
    }
    .review-list-item {
        margin: 3rem;
    }



    .footer-wrapper,
    .socialmedia-wrapper {
        max-width: calc(60rem + 2 * 3rem);
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .info-section,
    .footer-wrapper,
    .socialmedia-wrapper,
    .partner-wrapper {

        padding-left: 3rem;
        padding-right: 3rem;
    }

    .footer-wrapper,
    .socialmedia-wrapper,
    .partner-wrapper {
        margin-left: 3rem;
    }

    .partner-wrapper {
        padding-bottom: 3rem;
    }

    li.li-item {
        width: 33.33%
    }





}


.country-link,
.service-link {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

/*toggle menu added now*/
.link-list {
    margin: 0px 0px 0px 1rem;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;

}

.signup-style {
    outline: transparent solid 2px;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(217, 215, 213);
}

/*added now*/




.summer-title {
    max-width: calc(60rem + 2 * 3rem);
    padding-left: 3rem;
    padding-right: 3rem;
}

.card-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.footer-ul a {
    font-size: 1rem;
    color: #3f27ba;
    text-decoration: none;
}


.partner-wrapper p {
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;


}

.ul-partners li {
    list-style: none;
    font-size: 1rem;
}

.wrapper-list-container {
    display: flex;
}







@media (max-width: 960px) {




    


    /*.jobs-wrapper,*/
    .show {
        flex-direction: column;
        justify-content: center;
    }

    .footer-wrapper {
        flex-direction: column;
        padding: 3rem;
    }


    .ul-rating-desciption {
        display: flex;
    }

    .ul-rating-desciption li {
        margin-top: 2rem;
    }

    .socialmedia-icon {
        font-size: 1.5rem;
    }



    .card {
        text-align: left;
    }

    .card img {
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:48rem) {
    .h1-container {
        margin: 0;
    }

    .search-main-div {
        margin: 0 0 3rem;
    }

    .main-container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .search-main-div {
        margin-bottom: 2rem
    }

    .info-section {
        padding: 3rem 0;
    }

    .ol-container {
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    li.li-item {
        width: 100%;
    }

    .section-title {
        margin-left: 1.5rem;
        font-size: 1.5rem;
    }

    .summer-section {
        padding-bottom: 3rem;
    }

    .summer-title {
        padding-left: 0;
    }

    .card-wrapper {
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 0;

    }

    .card {
        width: 100%;
    }

    .card-text {
        margin-top: 1.5rem;
    }

    .card img{
        height: 120px;
    }
    .jobs-wrapper {
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 0;
    }

    .jobs-link-ul {
        display: block;
    }

    .request-btn,
    .more-btn {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .review-list-item{
        margin: 1.5rem;
    }

    #expandButton,
    .request-btn {
        display: block;
        width: 100%;
        text-align: center;

    }

    .review-ol-container {
        flex-direction: column;
    }

    .footer-wrapper,
    .socialmedia-wrapper {
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .footer-ul li {
        margin-bottom: 1.5rem;
    }

    .socialmedia-wrapper {

        align-items: start;
    }

    .partner-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .country-link,
    .service-link {
        display: block;
        margin-bottom: 1rem;
    }


}